@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --color-principal: antiquewhite;
   --color-secundario: rgb(215, 126, 8);
   --color-text: rgb(90, 53, 4);
}

html {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   scroll-behavior: smooth;

   body {
      background-color: var(--color-principal);

      header {
         border-bottom: 1px solid var(--color-text);

         .cabecera {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 2rem;

            img {
               width: 5rem;
            }

            h1 {
               color: var(--color-text);
            }
         }
      }

      nav {
         margin: 2rem auto;

         ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            li {
               display: flex;
               align-items: center;
               padding: 0.25rem 1rem;
               border: 1px solid;
               border-radius: 0.75rem;
               background-color: var(--color-secundario);
               color: var(--color-text);
               cursor: pointer;

               a {
                  text-decoration: none;
                  color: var(--color-principal);
               }
            }

            li:hover {
               background-color: var(--color-principal);

               a {
                  color: var(--color-secundario);
               }
            }

            li:last-child {
               position: relative;

               .count {
                  position: absolute;
                  bottom: 0;
                  left: 5px;
                  border: 1px solid;
                  border-radius: 50%;
                  padding: 2px 5px;
                  font-size: 10px;
               }
            }
         }
      }

      main {
         background-image: url('../assets/img/ecommerce-internet-shopping.png');
         background-repeat: no-repeat;
         background-size: cover;
         height: 20rem;
         position: relative;

         h2 {
            position: absolute;
            top: 50%;
            left: 2rem;
            color: var(--color-principal);
            text-shadow: 4px 4px 4px var(--color-secundario);
         }
      }

      /* #producto { */
      .container-product {
         margin: 0 auto;
         text-align: center;

         h3 {
            color: var(--color-text);
            font-weight: 600;
            text-transform: uppercase;
            padding: 1rem 0;
         }

         .product {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap: 2rem;
            padding: 0 2rem;
            justify-items: center;

            .card {
               width: 100%;
               border: 1px solid black;
               border-radius: 0.5rem;
               background-color: var(--color-secundario);
               box-shadow: 0 4px 4px rgb(53, 54, 53);
               padding: 0.5rem;
               /* transition: all 0.3s ease-in-out; */
               transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

               a {
                  text-decoration: none;
                  color: var(--color-text);

                  h4 {
                     font-size: 1.2rem;
                  }

                  img {
                     width: 100%;
                     margin: 0.5rem auto;
                     border-radius: 0.5rem;
                  }

                  p {
                     span {
                        font-weight: 700;
                        padding: 0.25rem;
                        background-color: wheat;
                        border-radius: 0.5rem;
                     }
                  }
               }

               button {
                  margin-top: 0.75rem;
                  padding: 0.5rem 1rem;
                  border: none;
                  border-radius: 0.5rem;
                  background-color: var(--color-text);
                  color: var(--color-principal);
                  cursor: pointer;

                  &:hover {
                     background-color: var(--color-principal);
                     color: var(--color-text);
                     border: 1px solid var(--color-text);
                     font-weight: 900;
                  }
               }

               &:hover {
                  transform: scale(1.1);
                  box-shadow: 0 8px 8px rgb(53, 54, 53);

                  img {
                     transform: scale(1.05);
                  }
               }
            }
         }
      }
   }
}